.env
*/node_modules/* 
.git
*/.env/*
node_modules/*
package-lock.json
node_modules
# IDE
.idea/
*zip

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# BUILD
dist/
node_modules/
*.mp3
*/vivid-motif-402201-eadcd1112018.json/*
vivid-motif-402201-eadcd1112018.json
.next
